
<header class="landingpagebg"></header>

<nav class="navbar2">
    <ul>
        <li><a href="#">All</a></li>
        <li><a href="#">Games</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">Tv Shows</a></li>
        <li><a href="#">Movies</a></li>
        <li><a href="/books">Books</a></li>
        <!-- <li><a href="#"><input type="text" name="" id="search" placeholder="I'm searching for..."></a></li> -->
    </ul>
</nav>

<section class="featuredContent">
		
		<!-- ------------------------- Game Features ------------------------- -->
		
		<div class="features" data-id="game">
			<img src="/static/images/Inside.jpg">
			<h2><b>Inside</b>
				<br>Playdead</h2>
		</div>
		
		<div class="features" data-id="game">
			<img src="/static/images/DeadCells.jpg">
			<h2><b>Dead Cells</b>
				<br>Motion Twin</h2>
		</div>

		<div class="features" data-id="game">
			<img src="/static/images/Undertale.png">
			<h2><b>Undertale</b>
				<br>Toby Fox</h2>
		</div>
		
		<div class="features" data-id="game">
			<img src="/static/images/UntitledGooseGame.jpg">
			<h2><b>Untitled Goose Game</b>
				<br>House House</h2>
		</div>

		<div class="features" data-id="game">
			<img src="/static/images/NightInTheWoods.jpg">
			<h2><b>Night in the Woods</b>
				<br>Infinite Fall</h2>
		</div>
		
		<div class="features" data-id="game">
			<img src="/static/images/Oxenfree.jpg">
			<h2><b>Oxenfree</b>
				<br>Night School Studio</h2>
		</div>

		<div class="features" data-id="game">
			<img src="/static/images/StardewValley.jpg">
			<h2><b>Stardew Valley</b>
				<br>ConcernedApe</h2>
		</div>
		
		<div class="features" data-id="game">
			<img src="/static/images/GoneHome.jpg">
			<h2><b>Gone Home</b>
				<br>Fullbright</h2>
		</div>
		
		<div class="features" data-id="game">
			<img src="/static/images/FallGuys.png">
			<h2><b>Fall Guys</b>
				<br>Mediatonic</h2>
		</div>
		
		<div class="features" data-id="game">
			<img src="/static/images/IntoTheBreach.png">
			<h2><b>Into The Breach</b>
				<br>Subset Games</h2>
		</div>
		
		<!-- ------------------------- Music Features ------------------------- -->
		
		<div class="features" data-id="music">
			<img src="/static/images/EitherOr.jpg">
			<h2><b>Either/Or</b>
				<br>Elliot Smith</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/DaydreamNation.jpg">
			<h2><b>Daydream Nation</b>
				<br>Sonic Youth</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/Swimmer.jpg">
			<h2><b>Swimmer</b>
				<br>Tennis</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/Carrie_Lowell.jpg">
			<h2><b>Carrie & Lowell</b>
				<br>Sufjan Stevens</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/TheArcher.jpg">
			<h2><b>The Archer</b>
				<br>Alexandra Savior</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/IsThisIt.jpg">
			<h2><b>Is This It</b>
				<br>The Strokes</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/TheGlowP2.jpg">
			<h2><b>The Glow Pt. 2</b>
				<br>The Mircrophones</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/Shore.jpg">
			<h2><b>Shore</b>
				<br>Fleet Foxes</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/DepressionCherry.jpg">
			<h2><b>Depression Cherry</b>
				<br>Beach House</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/5.jpg">
			<h2><b>5</b>
				<br>SAULT</h2>
		</div>
		
		<!-- ------------------------- TV Show Features ------------------------- -->
		
		<div class="features" data-id="television">
			<img src="/static/images/Portlandia.jpg">
			<h2><b>Portlandia</b>
				<br>Fred Armisen<br>Carry Brownstein<br>Jonathon Krisel</h2>
		</div>
		
		<div class="features" data-id="television">
			<img src="/static/images/StrangerThings.jpg">
			<h2><b>Stranger Things</b>
				<br>Matt Duffer<br>Ross Duffer</h2>
		</div>
		
		<div class="features" data-id="television">
			<img src="/static/images/ParksandRec.jpg">
			<h2><b>Parks and Rec</b>
				<br>Michael Schur<br>Greg Daniels</h2>
		</div>
		
		<div class="features" data-id="television">
			<img src="/static/images/Sherlock.jpg">
			<h2><b>Sherlock</b>
				<br>Mark Gatiss<br>Steven Moffat</h2>
		</div>
		
		<div class="features" data-id="television">
			<img src="/static/images/MadMen.png">
			<h2><b>Mad Men</b>
				<br>Matthew Weiner<br>Kater Gordon</h2>
		</div>
		
		<!--
		<div class="features" data-id="television">
			<img src="Dexter.png">
			<h2><b>Dexter</b>
				<br>Clyde Phillips<br>Melissa Rosenberg</h2>
		</div>
		-->
		
		<!-- ------------------------- Movie Features ------------------------- -->
		
		<!--
		<div class="features" data-id="movies">
			<img src="LadyBird.jpg">
			<h2><b>Lady Bird</b>
				<br>Greta Gerwig</h2>
		</div>
		-->
		
		<div class="features" data-id="movies">
			<img src="/static/images/Whiplash.jpg">
			<h2><b>Whiplash</b>
				<br>Damien Chazelle</h2>
		</div>
		
		<div class="features" data-id="movies">
			<img src="/static/images/Her.jpg">
			<h2><b>Her</b>
				<br>Spike Jonze</h2>
		</div>
		
		<div class="features" data-id="movies">
			<img src="/static/images/GirlInterrupted.jpg">
			<h2><b>Girl, Interrupted</b>
				<br>James Mangold</h2>
		</div>
		
		<div class="features" data-id="movies">
			<img src="/static/images/Submarine.jpg">
			<h2><b>Submarine</b>
				<br>Richard Ayoade</h2>
		</div>
		
		<div class="features" data-id="movies">
			<img src="/static/images/IntoTheWild.png">
			<h2><b>Into The Wild</b>
				<br>Sean Penn</h2>
		</div>
		
		<!-- ------------------------- Book Features ------------------------- -->
		
		<div class="features" data-id="books">
			<img src="/static/images/FilmForHer.jpg">
			<h2><b>Film For Her</b>
				<br>Orion Carloto</h2>
		</div>
		
		<div class="features" data-id="books">
			<img src="/static/images/Patsy.jpg">
			<h2><b>Patsy</b>
				<br>Nicole Dennis-Benn</h2>
		</div>
		
		<div class="features" data-id="books">
			<img src="/static/images/TheVanishingHalf.jpg">
			<h2><b>The Vanishing Half</b>
				<br>Brit Bennett</h2>
		</div>
		
		<div class="features" data-id="books">
			<img src="/static/images/IndexCards.jpg">
			<h2><b>Index Cards</b>
				<br>Moyra Davey</h2>
		</div>
		
		<div class="features" data-id="books">
			<img src="/static/images/ForNow.png">
			<h2><b>For Now</b>
				<br>Eileen Myles</h2>
		</div>

	</section>
	
	<section class="reviewedContent">
		<h1>Reviews</h1>
		<p>
			This is the game that I have been searching for. After playing “Little Nightmares” I was in search of a similar game although it was difficult to find one as obscure and as dark but eventually I stumbled across this masterpiece.
			<br><br>
			Inside is a beautiful game that tells the story of a brave, young man who sets off travelling through treacherous terrain and large, murky buildings. As he explores he discovers a race of ‘dull people’ who reflect what we as a society may imminently be turning into.
			<br><br>
			This game explores a unique story that absolutely intrigued me and had me wanting more. Although I believe that this game could have lead to something better as I was disappointed with the ending, it was still a game that I will remember. I hope to see more games like this come out of these amazing creators.
			<br><br>
		</p>
	</section>