{{#if error}}
<div style = "background: maroon; color: white;">
    {{error}}
</div>
{{/if}}



<section class="featuredContent">

    <nav class="accountdesign">
        <h1 style="color: #2A2D34">Your List...</h1>
        <br><br>
    </nav>
		
		<!-- ------------------------- Game Features ------------------------- -->
		
		<div class="features" data-id="game">
			<img src="/static/images/Inside.jpg">
			<h2><b>Inside</b>
				<br>Playdead</h2>
		</div>
		
		<div class="features" data-id="game">
			<img src="/static/images/DeadCells.jpg">
			<h2><b>Dead Cells</b>
				<br>Motion Twin</h2>
		</div>

		<div class="features" data-id="game">
			<img src="/static/images/Undertale.png">
			<h2><b>Undertale</b>
				<br>Toby Fox</h2>
		</div>
		
		<div class="features" data-id="game">
			<img src="/static/images/UntitledGooseGame.jpg">
			<h2><b>Untitled Goose Game</b>
				<br>House House</h2>
		</div>

		<div class="features" data-id="game">
			<img src="/static/images/NightInTheWoods.jpg">
			<h2><b>Night in the Woods</b>
				<br>Infinite Fall</h2>
		</div>
		
		<div class="features" data-id="game">
			<img src="/static/images/Oxenfree.jpg">
			<h2><b>Oxenfree</b>
				<br>Night School Studio</h2>
		</div>

		<div class="features" data-id="game">
			<img src="/static/images/StardewValley.jpg">
			<h2><b>Stardew Valley</b>
				<br>ConcernedApe</h2>
		</div>
		
		<div class="features" data-id="game">
			<img src="/static/images/GoneHome.jpg">
			<h2><b>Gone Home</b>
				<br>Fullbright</h2>
		</div>
		
		<div class="features" data-id="game">
			<img src="/static/images/FallGuys.png">
			<h2><b>Fall Guys</b>
				<br>Mediatonic</h2>
		</div>
		
		<div class="features" data-id="game">
			<img src="/static/images/IntoTheBreach.png">
			<h2><b>Into The Breach</b>
				<br>Subset Games</h2>
		</div>
		
		<!-- ------------------------- Music Features ------------------------- -->
		
		<div class="features" data-id="music">
			<img src="/static/images/EitherOr.jpg">
			<h2><b>Either/Or</b>
				<br>Elliot Smith</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/DaydreamNation.jpg">
			<h2><b>Daydream Nation</b>
				<br>Sonic Youth</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/Swimmer.jpg">
			<h2><b>Swimmer</b>
				<br>Tennis</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/Carrie_Lowell.jpg">
			<h2><b>Carrie & Lowell</b>
				<br>Sufjan Stevens</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/TheArcher.jpg">
			<h2><b>The Archer</b>
				<br>Alexandra Savior</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/IsThisIt.jpg">
			<h2><b>Is This It</b>
				<br>The Strokes</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/TheGlowP2.jpg">
			<h2><b>The Glow Pt. 2</b>
				<br>The Mircrophones</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/Shore.jpg">
			<h2><b>Shore</b>
				<br>Fleet Foxes</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/DepressionCherry.jpg">
			<h2><b>Depression Cherry</b>
				<br>Beach House</h2>
		</div>
		
		<div class="features" data-id="music">
			<img src="/static/images/5.jpg">
			<h2><b>5</b>
				<br>SAULT</h2>
		</div>
		
		<!-- ------------------------- TV Show Features ------------------------- -->
		
		<div class="features" data-id="television">
			<img src="/static/images/Portlandia.jpg">
			<h2><b>Portlandia</b>
				<br>Fred Armisen<br>Carry Brownstein<br>Jonathon Krisel</h2>
		</div>
		
		<div class="features" data-id="television">
			<img src="/static/images/StrangerThings.jpg">
			<h2><b>Stranger Things</b>
				<br>Matt Duffer<br>Ross Duffer</h2>
		</div>
		
		<div class="features" data-id="television">
			<img src="/static/images/ParksandRec.jpg">
			<h2><b>Parks and Rec</b>
				<br>Michael Schur<br>Greg Daniels</h2>
		</div>
		
		<div class="features" data-id="television">
			<img src="/static/images/Sherlock.jpg">
			<h2><b>Sherlock</b>
				<br>Mark Gatiss<br>Steven Moffat</h2>
		</div>
		
		<div class="features" data-id="television">
			<img src="/static/images/MadMen.png">
			<h2><b>Mad Men</b>
				<br>Matthew Weiner<br>Kater Gordon</h2>
		</div>
		
		<!--
		<div class="features" data-id="television">
			<img src="Dexter.png">
			<h2><b>Dexter</b>
				<br>Clyde Phillips<br>Melissa Rosenberg</h2>
		</div>
		-->
		
		<!-- ------------------------- Movie Features ------------------------- -->
		
		<!--
		<div class="features" data-id="movies">
			<img src="LadyBird.jpg">
			<h2><b>Lady Bird</b>
				<br>Greta Gerwig</h2>
		</div>
		-->
		
		<div class="features" data-id="movies">
			<img src="/static/images/Whiplash.jpg">
			<h2><b>Whiplash</b>
				<br>Damien Chazelle</h2>
		</div>
		
		<div class="features" data-id="movies">
			<img src="/static/images/Her.jpg">
			<h2><b>Her</b>
				<br>Spike Jonze</h2>
		</div>
		
		<div class="features" data-id="movies">
			<img src="/static/images/GirlInterrupted.jpg">
			<h2><b>Girl, Interrupted</b>
				<br>James Mangold</h2>
		</div>
		
		<div class="features" data-id="movies">
			<img src="/static/images/Submarine.jpg">
			<h2><b>Submarine</b>
				<br>Richard Ayoade</h2>
		</div>
		
		<div class="features" data-id="movies">
			<img src="/static/images/IntoTheWild.png">
			<h2><b>Into The Wild</b>
				<br>Sean Penn</h2>
		</div>
		
		<!-- ------------------------- Book Features ------------------------- -->
		
		<div class="features" data-id="books">
			<img src="/static/images/FilmForHer.jpg">
			<h2><b>Film For Her</b>
				<br>Orion Carloto</h2>
		</div>
		
		<div class="features" data-id="books">
			<img src="/static/images/Patsy.jpg">
			<h2><b>Patsy</b>
				<br>Nicole Dennis-Benn</h2>
		</div>
		
		<div class="features" data-id="books">
			<img src="/static/images/TheVanishingHalf.jpg">
			<h2><b>The Vanishing Half</b>
				<br>Brit Bennett</h2>
		</div>
		
		<div class="features" data-id="books">
			<img src="/static/images/IndexCards.jpg">
			<h2><b>Index Cards</b>
				<br>Moyra Davey</h2>
		</div>
		
		<div class="features" data-id="books">
			<img src="/static/images/ForNow.png">
			<h2><b>For Now</b>
				<br>Eileen Myles</h2>
		</div>

	</section>


    <section class="reviewedContent">
        <h1>Your Reviews</h1>
        <P>You rated <b>For Now</b> by <b>Eileen Myles</b> 4 out of 5 stars.<br> <br>

            The more I think about it, the more I wanted to add a star. Eileen Myles' work inspires either instantaneous love or the creep-up-behind-you and take-you-down-onto-the-mat kind of love that happens a day, or week, or even ten years later. So off-handed at first, but carrying a bludgeon.
        </P>
    </section>
